<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>year</string>
	<string>month</string>
	<string>day</string>
	<string>hour</string>
	<string>minute</string>
	<string>second</string>
	<string>weekday</string>
	<string>weekdayOrdinal</string>
	<string>hhmm</string>
	<string>hhmmss</string>
	<string>yyyyMMddWithSeparator</string>
	<string>yyyyMMddWithDateSeparator</string>
</array>
</plist>
